<a href="#"
  class="group block max-w-sm p-2 rounded-lg shadow-sm bg-black hover:bg-gradient-to-tr from-purple-800 to-black relative overflow-hidden">

  <!-- Image -->
  <img [src]="imgArr.img" alt=""
    class="w-full h-auto rounded-md transition duration-300 group-hover:blur-md">

  <!-- Text Container -->
  <div
    class="absolute w-full top-[100%] left-1/2 -translate-x-1/2 translate-y-0 group-hover:top-1/2 group-hover:-translate-y-1/2 transition-all duration-500 ease-in-out">
    
    <h2 class="font-[Orbitron] font-medium text-center text-xl text-gray-200">A Minecraft Movie</h2>
    <h3 class="text-center text-sm text-white opacity-50">The future favors the brave.</h3>
  </div>
</a>
